---
import GalleryLayout from '../../layouts/GalleryLayout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Gallery from '../../components/Gallery/Gallery.svelte';
import css from '../../styles/Gallery.module.scss';

export async function getStaticPaths() {
  const albums = (await getCollection('albums')).filter(
    ({ data }) => data.published
  );

  return albums.map((album: CollectionEntry<'albums'>) => ({
    params: { id: album.id },
    props: album,
  }));
}
type Props = CollectionEntry<'albums'>;

const album = Astro.props;
const { title, description, images } = album.data;
---

<GalleryLayout title={title} description={description}>
  <article>
    <section class={css.head}>
      <div>
        <h1>{title}</h1>
        <p class={css.description}>{description}</p>
      </div>
    </section>
    <div class={css.gallery}>
      <!-- <Gallery images={images} client:load /> -->
      {
        images.map(({ file, alt }) => (
          <div class={css.imageDiv}>
            <Image src={file} alt={alt} loading={'lazy'} />
          </div>
        ))
      }
    </div>
  </article>
</GalleryLayout>
