---
import MainLayout from '../../layouts/main-layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import Hero from '../../components/Hero/Hero.svelte'

import css from '../../styles/Photos.module.scss'
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section class={css.homepageHero}></section>
    <Hero cname={css.hero}>
      <div>
        <h1 class={css.title}>Photos</h1>
        <p>Have a look at my pictures!</p>
      </div>
    </Hero>
  </main>
</MainLayout>
