---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { useTranslations } from '../../i18n/utils';
import CFImage from '../../components/CFImage/CFImage.astro';
import css from '../../styles/About.module.scss';

const t = useTranslations('en');
---

<style>
  @keyframes animateIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  [data-animate-on-scroll] {
    opacity: 0;
    transform: translateY(50px);
    will-change: opacity, transform; /* Forza il repaint */
  }

  [data-animate-on-scroll].animate {
    animation: animateIn 1s ease-in-out forwards;
  }
</style>
<script
  src='https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?version=4.8.0&features=IntersectionObserver'
></script>

<BaseLayout
  title={t('site.title')}
  descrition={t('site.description')}
  headerMode='transparent'
  lang='en'
>
  <main>
    <section>
      <section class={css.section}>
        <CFImage
          className={css.photoBackground}
          src='matera/cattedrale-tramonto.jpg'
          alt='The sun sets behind the bell tower of the cathedral of Matera.'
          widths={[480, 800, 1200, 2400]}
          sizes='100vw'
        />
        <div class={`${css.cta} ${css.opaqueBackground}`}>
          <h1 class={css.title} data-animate-on-scroll>About me</h1>
          <p data-animate-on-scroll>Capturing the world, one frame at time.</p>
        </div>
      </section>
    </section>

    <section class={css.section}>
      <div class={css.bio}>
        <h2 data-animate-on-scroll>Who am I</h2>
        <div class={css.text} data-animate-on-scroll>
          <p>
            I became passionate about photography in 2012, when I read an
            article on a blog and discovered that, by using a long exposure
            time, it was possible to capture the trails of moving cars.
          </p>
          <p>
            I immediately grabbed my father’s camera, a Nikon D50 from 2005,
            went outside, placed the camera on a wall, figured out how to set
            the shutter speed to 30 seconds, and took the photo you see here.
          </p>
          <p>
            It’s not much, but the excitement I felt when taking that photo is
            the same feeling that still accompanies me every time I press the
            shutter button.
          </p>
        </div>
      </div>
      <div data-animate-on-scroll>
        <CFImage
          className={css.photo}
          src='misc/la-mia-prima-foto.jpg'
          alt='The picture that started it all, a long exposure of cars moving in Matera'
          widths={[480, 800, 1200]}
          sizes='100vw'
        />
      </div>
    </section>
  </main>
  <script>
    const elements = document.querySelectorAll('[data-animate-on-scroll]');
    const observerOptions = {
      threshold: 0.1,
    };

    document.addEventListener('DOMContentLoaded', function () {
      const observer = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            entry.target.classList.add('animate');
            observer.unobserve(entry.target);
          }
        });
      }, observerOptions);

      elements.forEach(function (element) {
        observer.observe(element);
      });
    });
  </script>
</BaseLayout>
