---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import TextHoverAnimation from '@/components/TextHoverAnimation/TextHoverAnimation.svelte';
import ArrowDownCircleIcon from '@/components/Icons/ArrowDownCircleIcon.svelte';
import CFImage from '@/components/CFImage/CFImage.astro';
import css from '@/styles/Home.module.scss';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
  @keyframes animateIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #swipeIndicator {
    animation: animateIn 1s ease-in-out;
  }

  [data-animate-on-scroll] {
    opacity: 0;
    transform: translateY(50px);
    will-change: opacity, transform; /* Forza il repaint */
  }

  [data-animate-on-scroll].animate {
    animation: animateIn 1s ease-in-out forwards;
  }
</style>
<script
  src='https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?version=4.8.0&features=IntersectionObserver'
></script>

<BaseLayout
  title={t('site.title')}
  descrition={t('site.description')}
  headerMode='transparent'
  lang={lang}
>
  <main>
    <section class={css.section} id='welcome'>
      <CFImage
        className={css.photoBackground}
        src='matera/sassi-laputa.jpg'
        alt='I famosi Sassi di Matera.'
        widths={[480, 800, 1200, 2400]}
        sizes='100vw'
      />
      <div class={`${css.cta} ${css.opaqueBackground}`}>
        <div data-animate-on-scroll>
          <h1 class={css.title}>
            beautiful things <span class={css.accent}>don&apos;t ask</span> for attention
          </h1>
          <p class={css.quoteOrigin}>(The Secret Life of Walter Mitty, 2013)</p>
        </div>
        <a class={css.swipeIndicator} href='#greetings' id='swipeIndicator'>
          <ArrowDownCircleIcon size='32' addStyles={css.icon} />
        </a>
      </div>
    </section>

    <section class={css.section} id='greetings'>
      <div class={css.content}>
        <div class={css.text} data-animate-on-scroll>
          <p>
            Ciao! Io sono <span class={css.textAccent}>Andrea</span>
          </p>
        </div>
        <div class={css.photoWrapper} data-animate-on-scroll>
          <CFImage
            className={css.photo}
            src='me/profile-pic.jpg'
            alt='Una fotografia di me, Andrea.'
            widths={[480, 800]}
            sizes='100vw'
          />
        </div>
        <div class={css.text} data-animate-on-scroll>
          <p>Amo scattare fotografie che riflettano l'anima di un istante</p>
        </div>
      </div>
    </section>

    <section class={css.section} id='photo-cta'>
      <CFImage
        className={css.photoBackground}
        src='paesaggi/paesaggio-lucano-1.jpg'
        alt='Una fotografia fine-art di un tipico paesaggio collinare Lucano.'
        widths={[480, 800, 1200, 1600]}
        sizes='100vw'
      />
      <a href='/photo' class={css.cta}>
        <TextHoverAnimation
          addStyle={css.photoCta}
          text='sfoglia le mie fotografie'
        />
      </a>
    </section>

    <section class={css.section} id='blog-introduction'>
      <div class={css.content}>
        <div class={css.text} data-animate-on-scroll>
          <p>
            La fotografia è la mia arte, il mio modo di mostrarvi come guardo il
            mondo
          </p>
        </div>
        <div class={css.photoWrapper} data-animate-on-scroll>
          <CFImage
            className={css.photo}
            src='street/mercatino-bruna-vestito-appeso.jpg'
            alt="Un uomo sosta dietro un abito appeso, dando l'impressione di indossarlo."
            widths={[480, 800, 1200]}
            sizes='100vw'
          />
        </div>
        <div class={css.text} data-animate-on-scroll>
          <p>
            Il mio blog è il posto dove condivido i miei pensieri sulla
            fotografia e altro ancora
          </p>
        </div>
      </div>
    </section>

    <section class={css.section} id='blog-cta'>
      <CFImage
        className={css.photoBackground}
        src='paesaggi/craco-alba-lunare.jpg'
        alt='La luna sorge, vista da Craco.'
        widths={[480, 800, 1200, 1600]}
        sizes='100vw'
      />
      <a href='/blog' class={`${css.cta} ${css.opaqueBackground}`}>
        <TextHoverAnimation addStyle={css.photoCta} text='leggi il blog' />
      </a>
    </section>
  </main>

  <script>
    const elements = document.querySelectorAll('[data-animate-on-scroll]');
    const observerOptions = {
      threshold: 0.1,
    };

    document.addEventListener('DOMContentLoaded', function () {
      const observer = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            entry.target.classList.add('animate');
            observer.unobserve(entry.target);
          }
        });
      }, observerOptions);

      elements.forEach(function (element) {
        observer.observe(element);
      });
    });
  </script>
</BaseLayout>
