---
import CFImage from '@/components/CFImage/CFImage.astro';
import css from '@/styles/ReportageBruna.module.scss';

interface Photo {
  src: string;
  alt: string;
}

interface Props {
  back: Photo;
  mid: Photo;
  plateTitle: string;
  plateBody: string;
}

const { back, mid, plateTitle, plateBody } = Astro.props;
---

<section class={css.diorama} data-diorama>
  <div class={css.dioStage}>
    <div class={css.dioBack} data-dio-depth='0.25'>
      <CFImage src={back.src} alt={back.alt} widths={[1200, 1600]} sizes='100vw' />
    </div>
    <div class={css.dioMid} data-dio-depth='0.6'>
      <CFImage
        src={mid.src}
        alt={mid.alt}
        widths={[600, 900]}
        sizes='(max-width: 600px) 100vw, 42vw'
      />
    </div>
    <div class={css.dioPlate} data-dio-depth='1'>
      <div class={css.dioPlateTitle}>{plateTitle}</div>
      <p>{plateBody}</p>
    </div>
  </div>
</section>
