---
import type { CollectionEntry } from 'astro:content'

import Header from '../components/Header/Header.svelte'
import Footer from '../components/Footer/Footer.svelte'

import '../styles/normalize.css'
import '../styles/global.css'
import '../styles/main.scss'
import '../styles/_globals.module.scss'

import { SITE_DESCRIPTION } from '../consts'

type Props = CollectionEntry<'blog'>['data']

const { title, description } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Blog</title>
    <meta name='description' content={SITE_DESCRIPTION} />
    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <!-- <meta property='og:image' content={new URL(image, Astro.url)} /> -->

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <!-- <meta property='twitter:image' content={new URL(image, Astro.url)} /> -->
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
