---
import type { CollectionEntry } from 'astro:content';

import Header from '../components/Header/Header.svelte';
import Footer from '../components/Footer/Footer.svelte';

import '../styles/normalize.css'
import '../styles/global.css'
import '../styles/_globals.module.scss'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, image, lang } = Astro.props;
---

<!doctype html>
<html lang={lang || 'en'}>
	  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={new URL(image || '', Astro.url)} />
    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content={new URL(image || '', Astro.url)} />
  </head>

  <body>
    <Header client:load headerMode='solid' />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
