---
import Header from '@/components/Header/Header.astro';
import Footer from '@/components/Footer/Footer.svelte';
import { getAlternateLangUrl } from '@/i18n/utils';

import '@/styles/normalize.css';
import '@/styles/global.css';
import '@/styles/_globals.module.scss';

const { title, description, lang = 'it' } = Astro.props;
const alternateLangUrl = getAlternateLangUrl(Astro.url.pathname, lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <!-- Analytics -->
    <script
      is:inline
      defer
      src='https://cloud.umami.is/script.js'
      data-website-id='a9430e6c-d81c-496b-a486-a073439d114c'></script>
  </head>

  <body>
    <Header headerMode='solid' />
    <slot />
    <Footer lang={lang} alternateLangUrl={alternateLangUrl} />
  </body>
</html>
