---
import GalleryLayout from '../../../layouts/GalleryLayout.astro';
import { getLangFromUrl } from '../../../i18n/utils';
import { type CollectionEntry, getCollection } from 'astro:content';
import Gallery from '../../../components/Gallery/Gallery.svelte';
import css from '../../../styles/Gallery.module.scss';

const lang = getLangFromUrl(Astro.url);

export async function getStaticPaths() {
  const albums = (await getCollection('albums')).filter(
    ({ data }) => data.published
  );

  return albums.map((album: CollectionEntry<'albums'>) => ({
    params: { id: album.id },
    props: album,
  }));
}
type Props = CollectionEntry<'albums'>;

const album = Astro.props;
const { title, description, images } = album.data;
---

<GalleryLayout title={title} description={description} lang={lang}>
  <article>
    <section class={css.head}>
      <div>
        <h1>{title}</h1>
        <p class={css.description}>{description}</p>
      </div>
    </section>
    <div class={css.gallery}>
      <Gallery images={images} client:load />
    </div>
  </article>
</GalleryLayout>
