---
import { getCollection } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PostThumbnail from '../../../components/PostThumbnail/PostThumbnail.svelte';
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
import css from '../../../styles/Blog.module.scss';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = (await getCollection('blog-en'))
  .filter(({ data }) => data.published)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout
  title={t('nav.blog')}
  description="Andrea's personal blog"
  headerMode='solid'
  lang={lang}
>
  <main>
    <section class={css.titleSection}>
      <div class={css.content}>
        <h1>Blog</h1>
        <p>My little corner of the web!</p>
      </div>
    </section>
    <section class={css.feed}>
      <ul class={css.posts}>
        {
          posts.map((post) => (
            <li>
              <PostThumbnail post={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
